<div class="modal-header darkbluefont modaltitle mar10">
  <div class="modalborder">
    <div class="row bmar0 bpad0">
      <div class="tcent posrel tcent dispin">
        <%= image_tag("wflogo.PNG", :alt => "wf-logo", class: "img-responsive rmar25 lmar25 tmar25 maxwid200 tcent dispin") %>
      </div>
    </div>
    <div class="row lpad5 rpad5">
      <h2>
        <strong class="ralefont font3rem">Registration Complete</strong>
      </h2>
    </div>
  </div>
</div>
