<div class="row tcent lmarneg35 tmar90">
  <%= image_tag("wflogo.PNG", class: "wid200") %>
  <p class="lmar50 lpad5 tmarneg22 font1font1pointfive">Credentialed Wellsite Access</p>
</div>
<div class="row tcent wid100per tmar75">
  <%= link_to "Register", new_person_path, class: "picshad btn btn-primary font5rem ralefont pad25 lmar25" %>
</div>
<div class="grayfont tcent bmar50 row lmar25 rmar25 tmar75">
  <small class="tcent wid75per grayfont wid75per bmar25 lmar25 rmar25"> © 2017-2018 WellFence LLC. All Rights Reserved. Patented & Patent Pending. Wellfence ® is a registered trademark of Wellfence LLC.<br> Support: 832.940.9797</small>
</div>
